# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/

# Django
*.sqlite3
db.sqlite3
staticfiles/

# Ambiente
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
debug.log
